<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        a.cliente{
            display:block;
            text-decoration: none;
        }
    </style>
</head>
<body>

<ion-view view-title="Clientes" hide-back-button="true" can-swipe-back="false">
    <ion-content padding="true" class="has-header">
        <div class="itemChico item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-model="form.clientSearch" type="text" placeholder="Ingrese Cliente">
            </label>
            <button class="button button-small" ng-click="search()">
                Buscar
            </button>
        </div>

        <ion-list>
            <ion-item collection-repeat="cliente in clientes" class="item-input-chico">
                <a class="cliente" href="#" ng-click="selectCliente(cliente)">
                    <h2>Nombre:</h2>
                    <p>{{cliente.nombreCliente}}</p>
                    <h2>Codigo Cliente:</h2>
                    <p>{{cliente.codigoCliente}}</p>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class=" bar-stable">
        <button ng-click="goBack()" id="botonVolverSeleccionCliente" class="button button-stable boton-mitad-width button-small">Volver</button>
    </ion-footer-bar>
</ion-view>
</body>
</html>
